<html>
  <head>
    <title>Gitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/2.2.2/octicons.css">
    <link href='/build/app.css' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="react-app"><%- reactHTML %></div>
    <script>window.seed = <%- seed %>;</script>
    <script src="/build/app.js"></script>
  </body>
</html>
